<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="keyword" content="pipeline Template demo">
  <meta name="description" content="Pipeline Template Demo">
  <%= htmlWebpackPlugin.options.dnsPrefetch %>
  <style type="text/css">
    html, body {
      background-color: <%= htmlWebpackPlugin.options.backgroundColor %>
    }
  </style>
</head>

<body class="mui-fix-safari-overflow-scrolling">
  <%= htmlWebpackPlugin.options.vueInstancePlaceholder %>
</body>
</html>

